<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?><target name="rap-iscroll.target" sequenceNumber="10">
<locations>
	<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository id="rap_2.2" location="http://download.eclipse.org/rt/rap/2.2/M2-20130930-1404/"/>
		<unit id="org.eclipse.rap.feature.feature.group" version="2.2.0.20130930-1404"/>
		<unit id="org.eclipse.rap.sdk.feature.feature.group" version="2.2.0.20130930-1404"/>
		<unit id="org.eclipse.rap.examples.feature.feature.group" version="2.2.0.20130919-1424"/>
		<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="2.2.0.20130930-1645"/>
	</location>
</locations>
</target>
